.DS_Store
.build/
build/
DerivedData/

*.xcuserstate
*.xcscmblueprint
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

.swiftpm/xcode/xcuserdata/
